body {
    background-color: rgb(42, 88, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.button-container {
    margin: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

button {
    padding: 20px;
}

#pScore, #cScore {
    display: flex;
    justify-content: center;
    align-self: center;
}

img {
    height: 100px;
    width: 100px;
}

#round {
    font-size: 30px;
    margin: 50px;
}